* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.795), rgba(255, 255, 255, 0.836)), url("fondocartas.jpg");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

p {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
}

#carrito {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #c43737;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.buscadorProducto{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 15px 30px;
    
    background-color: red;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;

    border-top: black 2px solid;
    border-bottom: black 2px solid;
}

#navegacion a {
    color: black;
    text-decoration: none;
}

#navegacion {
    display: flex;
    text-align: start;
    justify-content: space-between;    
    gap: 40px;
}

#logo {
    width: 150;
    
}

#logoBusqueda {
    display: flex;
}

button:hover {
    background: red
}

#gorras {
    background-color: rgb(139, 0, 0);
    border: 1px solid black;
    display: flex;
    width: 100%;
    padding: 20px;
    gap: 15px;
    text-align: justify;
}


.card {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    background: red;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    transition: 0.3s;
    width: 140px;
    margin: 0 auto;
}

#filtros {
    text-align: center;
    background-color: red;
    color: black;
    border: 1px solid black;
    max-width: 400%;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 400px;
    width: 300px;
}

#rango {
    accent-color: black;
    

}


main {
    display: flex;
}

