<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/ayuda.css">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">
            <img src="../images/logopagina.png" alt="logoPagina" id="logo" width="100">
        </div>


        <nav>
            <div class="menu">
                <a href="">HOME</a>
                <a href="">Zapatillas</a>
                <a href="">Ropa</a>
                <a href="">Accesorios</a>
                <a href="ayuda.html">Ayuda</a>
            </div>

            <div class="busqueda">
                <input type="text" placeholder="Buscar producto...">
                <button>Buscar</button>
                <a href="">
                    <img src="../images/carrito.png" alt="carrito logo" width="30">
                </a>
            </div>


        </nav>

        <hr class="barra">

    </header>
    <br>
    <br>
    <seccion class="contenedor">

    <div class="desplegable">
        <h1> ¿Cómo podemos ayudarte? </h1>
        <div class="item">
            <button class="title">Realizar un pedido</button>
            <div class="content">
                <br>
                <h2>¿Cómo realizo un pedido?</h2>
                <p>Comprar en nuestra tienda es muy sencillo. Primero, agregá al carrito las prendas que más te gusten.
                    Luego, elegí si querés recibir tu pedido en tu domicilio o retirarlo en nuestro punto de entrega.
                    Después, seleccioná el tipo de factura que necesitás (A o B) y el método de pago que prefieras.
                    Antes de finalizar, revisá que toda la información sea correcta y confirmá tu compra. <br> ¡Y listo!
                    Tu pedido ya estará en proceso. Vas a recibir un correo con todos los detalles y el número de
                    seguimiento para que puedas estar al tanto de tu compra.</p>
                    <br>
            </div>
        </div>

        <div class="item">
            <button class="title">Precio</button>
            <div class="content">
                <br>
                <h2>¿El precio que figura en la web es el precio final?</h2>
                <p>Todos los precios incluyen IVA y están en pesos argentinos.</p>
                <br>
            </div>
        </div>

        <div class="item">
            <button class="title">Envios</button>
            <div class="content">
                <br>
                <h2>¿Como son los envios?</h2>
                <p>Los envíos se realizan a través de nuestro servicio de logística partner. Puedes elegir entre envío a
                    domicilio o retiro en nuestro punto de entrega.</p>
                    <br>
            </div>
        </div>

        <div class="item">
            <button class="title">Gmail de contacto</button>
            <div class="content">
                <br>
                <h2>¿Como contactarme?</h2>
                <p>Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos a través de nuestro correo
                    electrónico a asesros@gmail.com.</p>
                <br>
            </div>
        </div>

        <div class="item">
            <button class="title">Reintegro de pagos</button>
            <div class="content">
                <br>
                <h2>¿Como solicito un reintegro de pagos?</h2>
                <p>Si necesitas solicitar un reintegro de pagos, puedes hacerlo a través de nuestro correo electrónico a
                    asesros@gmail.com.</p>
                <br>
            </div>
        </div>

        <div class="ubicacion">
            <p class="pmapa">📍 Encontranos acá:</p>
            <br>
            <a href="https://maps.google.com/?q=Monumento+a+la+Bandera" target="_blank">

                <iframe class="mapa"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3348.118920062399!2d-60.63292632433017!3d-32.94786957359268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab1dc9b6d36f%3A0x97b9e9584d94d851!2sMonumento%20Hist%C3%B3rico%20Nacional%20a%20la%20Bandera!5e0!3m2!1ses-419!2sar!4v1778349996807!5m2!1ses-419!2sar"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade" alt="Ubicación"></iframe>
            </a>
        </div>

    </div>
    </seccion>
    <footer>
        <div>
            <h4>Contacto:</h4>
            <ul class="contactos">

                <li><img src="../assets/images/logotelefono.png" alt="telefono" width="20"></li>
                <p>+54 9 3483 43-0502</p>
            </ul>
        </div>

        <div>
            <h4>Copyright © 2025 Ases Rosario</h4>
        </div>

        <div>
            <h4>instagram:</h4>
            <ul class="contactos">
                <li><img src="../images/instagramutn.png" alt="logoinstagram" width="30"></li>
                <a href="https://www.instagram.com/ases.ros/">ases.ros</a>
            </ul>
        </div>

    </footer>
    <script src="../static/JS/ayuda.js"></script>
</body>

</html>