<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/CSS/carrito.css" />
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue" rel="stylesheet">.
  </head>
  <body>
   <header>
    <div class="logo">
            <img src="../assets/icons/IMG_0317.jpg" alt="logoPagina" id="logo" width="100">
        </div>
    <nav>
        <div class="menu">
        <a href="index.html">HOME</a>
        <a href="">Zapatillas</a>
        <a href="">Ropa</a>
        <a href="">Accesorios</a>
        <a href="">Información</a>
    </div>   
    </nav>
     <hr class="barra">
</header>

<main>
    <h2 class="titulo">CARRITO DE COMPRAS</h2>

    <div class="carrito">

        <section class="seccion-lista-compras">
            <h3>Tus compras:</h3>

            <ol id="compras" class="lista-productos">
            </ol>
        </section>

        <aside>

            <div class="datos-pedido">
                <h3>Resumen del pedido:</h3>

                <p>Subtotal:</p>
                <p>Envio:</p>
                <p>Impuestos:</p>
                <p>Total:</p>
            </div>

            <div>
                <form action="">
                    <input type="text" placeholder="Código del cupon">
                    <br>
                    <button>Aplicar Codigo</button>
                </form>
            </div>

            <button>Finalizar compra</button>

            <div>
                <img src="../assets/icons/tarjeta.png" alt="tarjetas" width="100px">
            </div>

        </aside>

    </div>
</main>

<footer>
    
        <div>
               <p>Contacto:</p>
            <ul class="contactos">
             
            <li><img src="../assets/icons/telefono (1).png" alt="telefono"
                width="20"></li>
        <p>+54 9 341 111-1234</p>
        </ul>
       </div>

        <div>
            <p>Copyright © 2025 Ases Rosario</p>
        </div>

        <div>
            <p>instagram:</p>
<ul class="contactos">     
    <li><img src="../assets/icons/pngegg.png" alt="logoinstagram" width="25"></li>
  <a href="https://www.instagram.com/ases.ros/">ases.ros</a>
</ul>
        </div>

</footer>

    <script src="..\static\JS\carrito.js"></script>

  </body>
</html>
