<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/CSS/carrito.css" />
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue" rel="stylesheet">.
  </head>
  <body>
   <header>
    <nav>
        <p>Aca va el nav</p>    
    </nav>
</header>

<main>
    <h2 class="titulo">CARRITO DE COMPRAS</h2>

    <div class="carrito">

        <section class="seccion-lista-compras">
            <h3>Tus compras:</h3>

            <ol id="compras" class="lista-productos">
            </ol>
        </section>

        <aside>

            <div>
                <h3>Resumen del pedido:</h3>

                <p>Subtotal:</p>
                <p>Envio:</p>
                <p>Impuestos:</p>
                <p>Total:</p>
            </div>

            <div>
                <form action="">
                    <input type="text" placeholder="Código del cupon">
                    <br>
                    <button>Aplicar Codigo</button>
                </form>
            </div>

            <button>Finalizar compra</button>

            <div>
                <p>Aca van fotos de tarjetas</p>
            </div>

        </aside>

    </div>
</main>

<footer>
    <p>Aca va el footer</p>
</footer>

    <script src="..\static\JS\carrito.js"></script>

  </body>
</html>
