<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link rel="icon" href="../assets/icons/ases_ros.ico">
    <link rel="stylesheet" href="../static/CSS/galeria.css">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue" rel="stylesheet">.

</head>

<body>

    <header>
        <div class="buscadorProducto">

            <div id="logo">
                <img src="../assets/images/ases_ros.png" alt="logo">
            </div>
            <nav id="navegacion">
                <a href="">Zapatillas</a>
                <a href="">Ropa</a>
                <a href="">Accesorios</a>
                <a href="">Contacto</a>
            </nav>

            <div id="logoBusqueda">
                <input type="search" name="buscador" placeholder="Buscar accesorio">
            </div>


        </div>
    </header>

    <main>


        <section id="filtros">
            <div class="filtroProducto">
                <h2>Filtros</h2>
                <br>
                <label for="opciones">Marcas</label>
                <br>
                <input type="checkbox" id="cajaMarca" name="opcion" value="marcaJordan">Jordan
                <br>
                <br>
                <br>
                <h2>Talles</h2>
                <label for="tallesAccesorios"></label>
                <button id="talleS">S</button>
                <button id="talleA">A</button>

                <br>
                <br>
                <br>


                <h2>Precio</h2>
                <input id="rango" type="range" min="0" max="100">
                <h2>Min - Max</h2>

            </div>


        </section>


        <section id="gorras">
            <div class="gorra">
                <ul style="list-style: none">
                    <li>
                        <div class="card">
                            <img src="../assets/images/NI9A0928-R78-1.jpeg" alt="gorra" width="100">
                            <h4>Gorra Jordan</h4>
                            <p>Precio: $500</p>
                            <p>Talle</p>
                            <p>Stock</p>
                            <button id="carrito">Agregar al carrito</button>
                        </div>
                    </li>
                </ul>
            </div>
        </section>


    </main>

    <footer>

    </footer>



</body>

</html>