<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link rel="icon" href="../assets/icons/ases_ros.ico">
    <link rel="stylesheet" href="../static/CSS/galeria.css">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue" rel="stylesheet">

</head>

<body>

    <header>

        <div id="logo">
            <img src="../assets/images/logoasesgrande.PNG" alt="logo">
        </div>

        <br>


        <div class="buscadorProducto">
            <nav id="navegacion">
                <a href="../templates/galeria.html">Todos los productos</a>
                <a href="../templates/ayuda.html">Información</a>
            </nav>
            <div id="logoBusqueda">
                <input type="search" name="buscador" placeholder="Buscar accesorio">
                <button class="btnBuscar">Buscar</button>
                <img src="../assets/images/carrito.png" alt="logoCarrito" width="40">
            </div>
        </div>
    </header>

    <main>

        <input type="checkbox" id="btn-menu">

        <label for="btn-menu" id="label_hamburguesa">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <section id="filtros">
            <div class="filtroProducto">
                <h2>Filtros</h2>
                <hr>
                <div id="marcasFiltros">
                    <label for="opciones">Marcas</label>
                    <ul class="cajasMarcas">
                        <li class="listasFiltro"><input type="checkbox" class="colorRojo" name="opcion"
                                value="marcajordan">
                            <p>Jordan</p>
                        </li>
                        <li class="listasFiltro"><input type="checkbox" class="colorRojo" name="opcion"
                                value="marcasupreme">
                            <p>Supreme</p>
                        </li>
                        <li class="listasFiltro"><input type="checkbox" class="colorRojo" name="opcion"
                                value="marcanocta">
                            <p>Nocta</p>
                        </li>
                        <li class="listasFiltro"><input type="checkbox" class="colorRojo" name="opcion"
                                value="marcanike">
                            <p>Nike</p>
                        </li>
                    </ul>
                    <hr>
                </div>


                <h2>Talles Ropa</h2>
                <hr>
                <div id="tallesFiltros">
                    <div class="btnsTalleRopa">
                        <label for="talleRopa"></label>
                        <button class="botonesTalleRopa" id="talleS">S</button>
                        <button class="botonesTalleRopa" id="talleM">M</button>
                        <button class="botonesTalleRopa" id="talleL">L</button>
                        <button class="botonesTalleRopa" id="talleXL">XL</button>
                        <button class="botonesTalleRopa" id="talleXXL">XXL</button>
                    </div>
                    <hr>

                    <h2>Zapatillas</h2>
                    <hr>
                    <label for="tallesZapatillas"></label>
                    <ul class="cajaTalles">
                        <li class="listasFiltro"><input type="checkbox" class="colorRojo" name="opcion" value="talle39">
                            <p>39</p>
                        </li>
                        <li class="listasFiltro"><input type="checkbox" class="colorRojo" name="opcion" value="talle40">
                            <p>40</p>
                        </li>
                        <li class="listasFiltro"><input type="checkbox" class="colorRojo" name="opcion" value="talle41">
                            <p>41</p>
                        </li>
                        <li class="listasFiltro"><input type="checkbox" class="colorRojo" name="opcion" value="talle42">
                            <p>42</p>
                        </li>
                        <li class="listasFiltro"><input type="checkbox" class="colorRojo" name="opcion" value="talle43">
                            <p>43</p>
                        </li>
                        <li class="listasFiltro"><input type="checkbox" class="colorRojo" name="opcion" value="talle44">
                            <p>44</p>
                        </li>
                        <li class="listasFiltro"><input type="checkbox" class="colorRojo" name="opcion" value="talle45">
                            <p>45</p>
                        </li>
                    </ul>
                    <hr>
                    <h2>Accesorios</h2>

                    <hr>

                    <label for="tallesAccesorios"></label>
                    <ul class="cajaAccesorios">
                        <li class="listasFiltro"><input type="checkbox" class="colorRojo" name="opcion" value="tallesm">
                            <p>S/M</p>
                        </li>
                        <li class="listasFiltro"><input type="checkbox" class="colorRojo" name="opcion" value="talleml">
                            <p>M/L</p>
                        </li>
                        <li class="listasFiltro"><input type="checkbox" class="colorRojo" name="opcion"
                                value="tallelxl">
                            <p>L/XL</p>
                        </li>
                        <li class="listasFiltro"><input type="checkbox" class="colorRojo" name="opcion"
                                value="talleUnico">
                            <p>Unico</p>
                        </li>
                    </ul>
                    <hr>
                </div>


                <h2>Precio</h2>

                <div id="precioFiltro">
                    <input class="colorRojo" type="range" min="0" max="100">
                    <h2>Min - Max</h2>
                    <hr>
                </div>

                <h2>Tipo de Producto</h2>
                <hr>
                <div id="tipoProductoFiltro">
                    <ul>
                        <li class="listasFiltro"><input type="checkbox" class="colorRojo" name="opcion" value="ropa">
                            <p>Ropa</p>
                        </li>
                        <li class="listasFiltro"><input type="checkbox" class="colorRojo" name="opcion"
                                value="zapatillas">
                            <p>Zapatillas</p>
                        </li>
                        <li class="listasFiltro"><input type="checkbox" class="colorRojo" name="opcion"
                                value="accesorios">
                            <p>Accesorios</p>
                        </li>
                    </ul>
                    <hr>
                </div>


                <h2>Descuento</h2>
                <div id="descuentosFiltro">
                    <ul>
                        <li class="listasFiltro"><input type="checkbox" class="colorRojo" name="opcion"
                                value="accesorios">
                            <p>Descuentos</p>
                        </li>
                    </ul>
                </div>
                <hr>
                <h2>Stock</h2>
                <div id="stockFiltro">
                    <ul>
                        <li class="listasFiltro"><input type="checkbox" class="colorRojo" name="opcion"
                                value="accesorios">
                            <p>Disponible</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="gorras">
            <div class="productos">
                <div class="gorra">
                    <div class="card">
                        <img src="../assets/images/NI9A0928-R78-1.jpeg" alt="gorra" width="100">
                        <h4>Gorra Jordan</h4>
                        <p>Precio: $500</p>
                        <p>Talle</p>
                        <p>Stock</p>
                        <button class="carrito">Agregar al carrito</button>
                    </div>
                </div>
            </div>

        </section>
    </main>

    <footer>
        <div>
            <h4>Contacto:</h4>
            <ul class="contactos">
                <li><img src="../assets/icons/telefono (1).png" alt="telefono" width="20"></li>
                <p>+54 9 3483 43-0502</p>
            </ul>
        </div>

        <div>
            <h4>Copyright © 2025 Ases Rosario</h4>
        </div>

        <div>
            <h4>instagram:</h4>
            <ul class="logoIg">
                <li><img src="../assets/icons/pngegg.png" alt="logoinstagram" width="30"></li>
                <a href="https://www.instagram.com/ases.ros/">ases.ros</a>
            </ul>
        </div>

    </footer>
</body>

</html>